global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    tune.ssl.default-dh-param 2048
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-curves X25519:P-256:P-384
    ssl-server-verify none

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  http-keep-alive
    option  forwardfor
    timeout connect 5s
    timeout client  60s
    timeout server  60s
    retries 3

frontend fe_www
    bind *:80
    bind *:443 ssl crt /etc/pki/tls/private/macloud.hanitlg.de.pem alpn h2,http/1.1

    http-request redirect scheme https unless { ssl_fc }

    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header X-Forwarded-Port  %[dst_port]
    http-request set-header X-Forwarded-Host  %[req.hdr(Host)]

    http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains" if { ssl_fc }
    http-response set-header X-Content-Type-Options "nosniff" if { ssl_fc }
    http-response set-header X-Frame-Options "DENY" if { ssl_fc }
    http-response set-header Referrer-Policy "strict-origin-when-cross-origin" if { ssl_fc }

    default_backend be_nginx

backend be_nginx
    balance roundrobin
    option httpchk GET /healthz
    http-check expect status 200
    cookie HAPROXYID insert indirect nocache secure httponly
    server web1 macloud-web1.hanitlg.de:443  ssl verify none check inter 5s fall 3 rise 2 cookie w1
    server web2 macloud-web2.hanitlg.de:443  ssl verify none check inter 5s fall 3 rise 2 cookie w2
    server web3 macloud-web3.hanitlg.de:443  ssl verify none check inter 5s fall 3 rise 2 cookie w3

frontend fe_apache
    bind 127.0.0.1:8080
    http-request set-header X-Forwarded-Proto http
    http-request set-header X-Forwarded-Port  %[dst_port]
    http-request set-header X-Forwarded-Host  %[req.hdr(Host)]
    default_backend be_apache

backend be_apache
    balance roundrobin
    option httpchk GET /healthz
    http-check expect status 200
    cookie HAPROXYID insert indirect nocache httponly
    server web1 macloud-web1.hanitlg.de:10443 ssl verify none check inter 5s fall 3 rise 2 cookie a1
    server web2 macloud-web2.hanitlg.de:10443 ssl verify none check inter 5s fall 3 rise 2 cookie a2
    server web3 macloud-web3.hanitlg.de:10443 ssl verify none check inter 5s fall 3 rise 2 cookie a3

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s