[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = v3_req
distinguished_name = dn

[ dn ]
CN = macloud.hanitlg.de
O  = SnakeCloud
C  = DE

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = macloud.hanitlg.de
DNS.2 = macloud-web1.hanitlg.de
DNS.3 = macloud-web2.hanitlg.de
DNS.4 = macloud-web3.hanitlg.de